<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>

</head>

<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-8">
						<h1 style="font-size: 40px">Pesquisar por Demandas</h1>
					</div>

					<div class="col-sm-4">
						<div class="aw-page-header-controls">
							<div class="btn-group" role="group" aria-label="Basic example">
								<button type="button" class="btn btn-success">
									Verificadas<span class="badge badge-light">4</span>
								</button>
								<button type="button" class="btn btn-danger">
									<span class="badge badge-light">4</span>
								</button>
								<button type="button" class="btn btn-secondary">
									<span class="badge badge-light">4</span>
								</button>
							</div>


						</div>

					</div>


				</div>

			</div>
		</div>

		<div class="container-fluid">

			<div class="table-responsive  bw-tabela-simples">
				<div class="container-fluid">

					<div class="table-responsive  bw-tabela-simples">
						<table class="table  table-hover">
							<thead>
								<tr>

									<th>ID#</th>
									<th>OBJETO</th>
									<th>RESPONSÁVEL</th>
									<th>SETOR</th>
									<th>SITUACAO</th>

								</tr>
							</thead>

							<tbody>
								<tr th:each="d : ${demandas}">
									<td class="text-left" th:text="${d.id}"></td>
									<td class="text-left" th:text="${d.objeto}"></td>
									<td class="text-left" th:text="${d.responsavel}"></td>
									<td class="text-left" th:text="${d.setor}"></td>
									<td class="text-left" th:text="${d.situacao}"></td>
									<td class="text-left"><a th:href="@{/demanda/enviarTIC/{id}(id=${d.id})}"> Enviar Para Análise</a></td>

								</tr>
								<tr th:if="${#lists.isEmpty(demandas)}">
									<td colspan="7">Nenhum item encontrado!</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>


	</section>

</body>





</html>