
<div class="table-responsive  bw-tabela-simples">
	<table class="table  table-hover">
		<thead>
			<tr>


			</tr>
		</thead>

		<tbody>
			<tr th:each="objetivo : ${itens}">
				<td><span style="font-weight: bold;"
					th:text="${objetivo.descricaoObjetivo}"></span></td>
				<td class="text-center"><a class="btn  btn-link  btn-xs"
					title="Editar"> <i class="glyphicon glyphicon-pencil"></i>
				</a> <a th:href="@{/}" class="btn  btn-link  btn-xs" title="Excluir"> <i
						class="glyphicon glyphicon-remove"></i>
				</a></td>
			</tr>

		</tbody>

	</table>
</div>